[user]
    name = exuanbo
    email = exuanbo@protonmail.com

[core]
    excludesfile = ~/git/.gitignore_global
    hooksPath = ~/git/hooks
    ignorecase = false

[commit]
    template = ~/git/git_commit_template

